#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#gameBody {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow: hidden;
}
